{% include "partial/head.html" %}
{% load static %}
<style>
    div.master {
        margin-top: 32px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        height: 12vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    div.child {
        width: 20%;
        height: 50%;
        text-align: center;
    }

</style>

<body>
    {% include "partial/navbar.html" %}

<!-- 
    <div class="master">
        <div class="child">
            <a href="">Pagina Inicial</a>
        </div>
        <div class="child">
            <a href="">Vendas</a>
        </div>
        <div class="child">
            <a href="">Cliente</a>
        </div>
        <div class="child">
            <a href="">Pedidos</a>
        </div>
    </div>
 -->
</body>


</html>