{% include "partial/head.html" %}
<style>
    .container-pedidos{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    details {
        background-color:gray;
    }
    summary {
        text-align: center;
    }
</style>

<body>
    {% include "partial/navbar.html" %}
    <div class="container-fluid" style="max-width: 80%;">
        <h2 style="text-align: center; margin: 32px 0px 64px 0px;">Pedidos Em aberto</h2>
        <div class="container-pedidos">
            {% for pedido in pedidos %}
            <details>
                <summary>{{pedido.id}}</summary>
                <div class="contents">
                    <p>Nome Cliente: <strong>{{ pedido.client|upper }}</strong></p>
                    <p>Valor: <strong>{{ pedido.value|upper }}</strong></p>
                </div>
            </details>
            {%endfor%}
        </div>
    </div>
    </table>
</body>

</html>